body {
    font-family: Courier, Monaco, monospace;
    align-items: center;
    justify-content: center;
    border-radius:20px;
    background-color: #fbfcf9;
   


}
.label{ 
    font-size: 18px;
    font-weight:bold;
    margin:2px;
    padding:10px;

}
.container{
    width: 400px;
    padding:20px;
    background-color: rgb(177, 216, 242);
    border-radius: 30px;
    box-shadow :12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    
}
.input{
  width:40%;
  font-family: Courier, Monaco, monospace;
  padding:4px;
   outline:none;
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  color:green;
  margin:3px;
  font-size:16px;
  float:right;
}
button{
    padding:3px 8px;
    font-size: medium;
    border-radius:7px;
    background-color:rgb(210, 167, 251);
    margin:5px;
    box-shadow :oklab(from rgb(169, 169, 238) l a b)
}
    
    
